body {
    display: grid;
    grid-template-rows: 1f 1fr 1fr;
    

}
header {
display:flex;
justify-content: center;
background-color: mediumaquamarine;

}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;

}
footer {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
main {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    
    
}
 #item1 {
    background-color: grey;
    padding: 30%;
 }
 #item2 {
    background-color: rgb(48, 41, 31);
    padding: 30%;
 }

