@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 100%;
    background-color: aquamarine;

}
h1, h2, h3 {
    font-weight: 50%;}

p {
    font-size: 180%; 
    line-height: 1.5;
    position: relative;
    
}

h1 {
    font-size: 300%;
}
h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}
header {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;

}





nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 12px;
}


.main-content {
    font-size: 18px;
    line-height: 1.6;
}


footer {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    text-align: center;
    padding: 20px;}

main {
    display: grid;
    grid-template-columns: 80% 20%;
    
    padding: 5%;
}

.card {
  display: flex;
  flex-direction: column;
 align-items: center;

}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(172, 205, 235);
}



.img1  {
    
    width: 30%;
    height: 80%;
    float:left;
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
    
    top:3%;
    right: 3%;

    
}
.img2  {
    
    width: 60%;
    height: 30%;
    float:right;
    margin-left: 20%;
    margin-right: 20%;
    top:3%;
    right: 10%;
    
}

.paragraph1 {
    padding: 3%;
    padding-right: 35%;
    clear: both;
    position: relative;
}

.paragraph2 {
    padding: 3%;
    padding-right: 35%;
    clear: both;
    position: relative;

}



