body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr 1.2fr 0.2fr ;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;
    
}
 main{
    grid-area: main;
    display: flex;
   

   
 }

 


 footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin-bottom: 0%;

 }

 header{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav;
    background-color: red;
 }

 .data{
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   position:absolute

 }



.data {
   padding: 50px 20px;
  
}

.data h2 {
   text-align: center;
   font-size: 28px;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.data ul {
   list-style: none;
   padding: 0;
}

.data li {
   font-size: 18px;
   margin-bottom: 10px;
}

.data li strong {
   font-weight: bold;
   margin-right: 10px;
}

.weather{
   display: block;
   margin-left: 80%;
   position:absolute
   
}
img{
   max-height: 100%;
   max-width: 100%;
   grid-area: main;
   z-index: -1; /* Place the background behind other content */
   position: relative; /* Ensure positioning relative to grid */
   background-image: url("https://github.com/BARAZAJ/wdd131/blob/main/pictures/Jinja-Hero.webp"); /* Replace with your image path */
   background-size: cover;
   background-position: center;
}












































































